<div>
    <div>
        <div>
            <h3><%= res.tittel %></h3>
            <p><%= res.tema %></p>            
        </div>
        <div>
            <p>Prioritet: <%= res.prioritet %></p>
        </div>
    </div>
    <div>
        <p><%= res.beskrivelse %></p>
    </div>
    <div>
        <p>Status: <%= res.status %></p>
    </div>
    
</div>