<a href="/detaljer/<%= res._id %>" class="hendelsePreview">
    <div class="hendelsePreTop">
        <div>
            <h3><%= res.tittel %></h3>
            <p class="capitalize"><%= res.tema %></p>            
        </div>
        <div>
            <p class="capitalize">Prioritet: <%= res.prioritet %></p>
        </div>
    </div>
    <div>
        <p><%= res.beskrivelse %></p>
    </div>
    <div>
        <p class="capitalize">Status: <%= res.status %></p>
    </div>
</a>