<div class="hendelsePreview tiltakPreview">
    <div class="tiltakLeft">
        <h2><%= tiltak.tittel %></h2>
        <p><%= tiltak.beskrivelse %></p>
    </div>

    <div class="tiltakRight">
        <p><%= tiltak.gjortAv.fornavn %> <%= tiltak.gjortAv.etternavn %></p>
        <p><%= tiltak.datoGjortFormatted %></p>
    </div>
</div>