<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<a href="/" class="details backBttn">
    <svg id="Outline" viewBox="0 0 24 24" width="30" height="30">
        <path d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"/>
    </svg>
    <p>Tilbake</p>
</a>

<div class="details Top">
    <div class="textLeft">
        <h1><%= hendelse.tittel %></h1>
        <p><%= hendelse.tema %></p>  
    </div>   
    <div class="textRight">
        <p>Dato opprettet: <%= hendelse.opprettelseDatoFormatted %></p>
        <% if(!hendelse.ferdigstiltDato) { %>
            <p>Dato løst: Fortsatt under behandling</p>
        <% } else { %>
            <p>Dato løst: <%= hendelse.ferdigstiltDatoFormatted %></p>
        <% } %>
    </div> 
</div>
<div class="details Description">
    <p><%= hendelse.beskrivelse %></p>
</div>
<div class="details Info">
    <div>
        <p>Ansvarlig Person: <%= hendelse.ansvarligPerson.fornavn %> <%= hendelse.ansvarligPerson.etternavn %></p>
    </div>
    <div>
        <p>Prioritet: <%= hendelse.prioritet %></p>
    </div>
    <div>
        <p>Status: <%= hendelse.status %></p>
    </div>
</div>

<div>
    <% if(hendelse.status !== 'løst' && hendelse.status !== 'arkivert' && isAllowed ) { %>
        <form action="/oppdater-hendelse/<%= hendelse._id %>" method="post">
            <input name="status" type="hidden" value="løst">
            <button class="actionButton" type="submit"><h3>Sett status som løst</h3></button>
        </form>
    <% } %>

    <% if(hendelse.status !== 'arkivert' && isAllowed ) { %>
        <form action="/oppdater-hendelse/<%= hendelse._id %>" method="post">
                    <input name="status" type="hidden" value="arkivert">
            <button class="actionButton" type="submit"><h3>Arkiver hendelse</h3></button>
        </form>   
    <% } %>
</div>

<div class="overheadResults">
    <h1>Tiltak:</h1>
    <% if(hendelse.status !== 'arkivert' && isAllowed ) { %>
        <form action="/nytt-tiltak/<%= hendelse._id %>" method="get">
            <button class="actionButton" type="submit"><h3>Logg nytt tiltak</h3></button>
        </form>
    <% } %>
</div>

<div>
    <% tiltak.forEach(tiltak => { %>
        <%- include('./partials/tiltakPreview.ejs', { tiltak }) %>
    <% }); %>   
</div>

<%- include('./partials/foot.ejs') %>