<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<%- include('./partials/flashMessage.ejs') %>

<h1 class="profileWelcome">Velkommen <%= bruker.fornavn %> <%= bruker.etternavn %>!</h1>

<div class="overheadResults">
    <ul>
        <li>
            <form action="/" method="get">
                <input name="filter" type="hidden" type="hidden" value="">
                <button class="filterButton"><h3>Alle Hendelser</h3></button>
            </form>
        </li>
        <li>
            <form action="/" method="get">
                <input name="filter" type="hidden" type="hidden" value="vannlekkasje">
                <button class="filterButton"><h3>Vannlekasjer</h3></button>
            </form>
        </li>
        <li>
            <form action="/" method="get">
                <input name="filter" type="hidden" type="hidden" value="brannfare">
                <button class="filterButton"><h3>Brannfarer</h3></button>
            </form>
        </li>
        <li>
            <form action="/" method="get">
                <input name="filter" type="hidden" type="hidden" value="it-feil">
                <button class="filterButton"><h3>IT-Feil</h3></button>
            </form>
        </li>
    </ul>

    <div class="sideBySide">
        <form class="filterForm" action="/" method="get">
            <label for="prioritetFilter"><p>Prioritet:</p></label>
            <select class="selectOption" name="prioritetFilter" id="prioritetFilter" onchange="this.form.submit()">
                <option value="" selected disabled>Velg prioritet</option>
                <% prioritet.forEach(prioritet => { %>
                    <option value="<%= prioritet %>">
                        <%= prioritet %>
                    </option>
                <% }) %>
            </select>            
        </form>

        <%- include('./partials/newHendelseButton.ejs') %>            
    </div>


</div>


<div class="grid">
    <% results.forEach(res => { %>
        <%- include('./partials/hendelsePreview.ejs', { res }) %>
    <% }); %>    
</div>


<%- include('./partials/foot.ejs') %>