<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<%- include('./partials/flashMessage.ejs') %>

<h1 class="profileWelcome">Velkommen <%= bruker.fornavn %> <%= bruker.etternavn %>!</h1>

<div class="overheadResults">
    <h2>Dine Hendelser</h2>  
    <%- include('./partials/newHendelseButton.ejs') %>
</div>

<% if( results.length > 0 ) { %>
<div class="grid">
    <% results.forEach(res => { %>
        <%- include('./partials/hendelsePreview.ejs', { res }) %>
    <% }); %>    
</div>
<% } else { %>
    <p>Du har ingen tildelte hendelser</p>
<% } %>

<div class="profileActionButtons">
    <form action="/logg-ut" method="post">
        <button class="actionButton" type="submit"><h3>Logg Ut</h3></button>
    </form>

    <form action="/slett-bruker/<%= bruker._id %>" method="post">
        <button class="actionButton" type="submit"><h3>Slett bruker</h3></button>
    </form>    
</div>


<%- include('./partials/foot.ejs') %>